.contenedor {
  text-align: center;
  padding: 100px;
}

.botonVerde {
  background-color: green;
  border: none;
  padding: 10px;
  width: 60px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-decoration: none;
}

#botonRojo {
  background-color: rgb(214, 14, 14);
  border: none;
  padding: 10px;
  width: 60px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.contenedorDos {
  text-align: center;
  background-color: antiquewhite;
}
